[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pprintpp = "*"
pendulum = "*"
"d4a76af" = {file = "https://github.com/kivy/kivy/archive/master.zip"}
Flask = "*"
DateTime = "*"
Cython = "==0.26.1"

[dev-packages]

[requires]
python_version = "2.7"
