$heading-bg: #f8f8f8;
$heading-text: #1ca6db;


$button-primary: #6BC5E8;
$button-warning: #FFD670;
$button-text:white;

$bg:#202225;
$text:#cfcfcf;

$container-text:#7a7a7b;
$container-bg:white;

$primary: #1ca6db;
$secondary:#FFBC17;
$tertiary: #15E462;
$warning: #FF3F17;

$nav-bg:#F8F8F8;