[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
flask-cors = "*"
pandas = "*"
numpy = "*"
pprintpp = "*"
pendulum = "*"
DateTime = "*"
Cython = "*"
gunicorn = "*"
matplotlib = "*"
lazy = "*"
pyinstaller = "*"
tornado = "*"
pendulum-locales = "*"

[dev-packages]

[requires]
python_version = "3.6.5"
